::ng-deep{
    .mat-drawer-inner-container{
        overflow: hidden;
    }

    .mat-drawer-content{
        overflow: hidden;
    }
    
    .mat-tab-labels{
        justify-content: center;
        .mat-tab-label{
            min-width: 125px;
        }
    }

    .mat-tab-group{
        .mat-tab-header{
            position: sticky;
            top: 94px;
            background: #fff;
            z-index: 999;
        }
    }
   
}

.property__sidenav{
    width: 325px;
    z-index: 500000;

    .element__name{
    font-family: "Main";
    display: grid;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 4;
    box-sizing: border-box;
    background: #fff;
    grid-template-columns: 1fr 30px;
    padding: 2em;
    grid-template-rows: 30px;

        .element__link{
            display: flex;
            .title{
                font-weight: 400;
                margin-left: 10px;
                font-size: 18px;
                max-width: 170px;
                word-break: break-word;
            }
        }
    }
}