@mixin iconStyle($heigh, $width) {
  .icon {
    height: 40px;
    margin: 0 4px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1), background 200ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    cursor: pointer;

    svg {
      fill: #a0a0a0;
      height: $heigh;
      width: $width;
    }
  }
}

%svgHover {
  &:hover {
    background-color: rgba(255, 255, 255, .12);

    svg {
      fill: #fff;
    }
  }
}

::ng-deep .cdk-overlay-container {
  z-index: 0;
  width: 0;
  height: 0;
  position: initial;

  .cdk-overlay-dark-backdrop {
    background: transparent;
    z-index: 0;
    position: initial;
  }

  .cdk-global-overlay-wrapper {
    z-index: 0;
    position: absolute;
    bottom: 70px;
    right: 130px;
    top: unset;
    width: 156px;
    left: unset;
    align-items: flex-end !important;
    max-height: 323px;
  }

  .mat-dialog-container {
    width: 356px;
    height: 100%;
    padding: 0;
  }
}


.uploader__dialog {
  max-height: 360px;
.uploader__body {
  width: 100%;
  overflow-x: hidden;

  .file__list {

    .file {
      border-bottom: solid 1px #eee;
      color: #757575;
      display: block;
      height: 51px;
      padding-left: 2em;
      font-size: 12px;
      display: grid;
      align-items: center;
      grid-template-columns: 3em 4fr 1fr;

      .file__name {
        overflow: hidden;
      }

      .progress {
        @include iconStyle(24px, 24px);

        .success {
          svg {
            fill: #0F9D58;
          }
        }
      }
    }
  }
} 
}
