.tablel__content{
    width: 100%;

    .element__name{
        width: 700px;
        
        .name__icon{
            display: flex;  
            align-items: center;
            
            span{
                margin-left: 1em;
            }
        }
    }
}

.active{
    background-color: #e8f0fe;
    font-weight: 900;
    font-size: 16px;
    td{
        color: #1967d2;
    }
}

.row__table{
    td{
        font-family: "Main";
        font-weight: 900;
        font-size: 18px;
    }
}