.history__section{
    height: 700px;
    overflow: scroll;

    .history__card{
        font-family: 'Main';
        padding: 1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .date{
            font-weight: 400;
            font-size: 13px;
            margin: 1em 0;
            display: block;
        }

        .avatar__title{
            display: grid;
            grid-template-columns: 60px 1fr;
        }

        .avatar__medium{
            align-self: self-start;
        }

        .message{
            word-break: break-all;
            width: 95%;
            font-size: 15px;

        

            .element{
                display: flex;
                margin-top: 1.5em;
                flex-wrap: wrap;
                
                .parrent_child__folder{
                    display: flex;
                    align-items: center;

                    &.parent{
                        border-bottom: 1px solid #efefef;
                        width: 100%;
                        cursor: pointer;
                    }
    
                    &.child{
                        margin-top: 5px;
                        font-size: 13px;
                        padding-left: 1em;
                        width: 100%;
                        cursor: pointer;
                        transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                        &:hover{
                            background: rgb(143 131 131 / 8%);
                            border-radius: 5px;
                        }
                    }
                }

                .action{
                    margin-left: 0.5em;
                
                    .element__name{
                        margin-bottom: 0.5em;
                        margin-top: 3px;
                        display: block;
                    }

                    .element__old_name{
                        color: #ccc;
                        margin-top: 8px;
                        overflow: hidden;
                        text-decoration: line-through;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}