::ng-deep{
    .mat-drawer-container{
        background: none;
    }
}

.left__nav_main{
    display: grid;
    grid-template-columns: 240px 1fr;
}

.content{
    padding: 0 20px;
    height: 88vh;
    overflow-y: auto;
}

.property__side_open{
    transition: .5s;
    padding-right: 325px;
}