<ng-container *ngIf="source != null">
  <table mat-table [dataSource]="source" class="table__content">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td class="element__name" mat-cell *matCellDef="let element">
        <div class="name__icon">
          <div class="icon">
            <svg [attr.fill]="element.color | svgStyle"
                 *ngIf="element.context === contextType.FOLDER && element.access === null" fill="element.color" x="0px"
                 y="0px" focusable="false"
                 viewBox="0 0 24 24" height="24px" width="24px" fill="#5f6368">
              <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
            <svg [attr.fill]="element.color | svgStyle"
                 *ngIf="element.context === contextType.FOLDER && element.access!== null" x="0px" y="0px"
                 focusable="false" viewBox="0 0 24 24" height="24px" width="24px" fill="#5f6368">
              <g>
                <path
                  d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-5 3c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm4 8h-8v-1c0-1.33 2.67-2 4-2s4 .67 4 2v1z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </g>
            </svg>

            <app-file-icon *ngIf="element.context === 'FILE'" [extension]="element.name | fileExtension"
                           [path]="element?.path?.fullPath"></app-file-icon>
          </div>
          <span>{{element?.name}}</span>

          <div class="additional__icons">
            <svg *ngIf="element.access && element.context !== contextType.FOLDER"
                 [attr.fill]="element.isSelected ? '#1967d2' :'#b2b2b2' " width="16px" height="16px" viewBox="0 0 16 16"
                 focusable="false" class=" a-s-fa-Ha-pa" fill="">
              <path
                d="M5,7 C6.11,7 7,6.1 7,5 C7,3.9 6.11,3 5,3 C3.9,3 3,3.9 3,5 C3,6.1 3.9,7 5,7 L5,7 Z M11,7 C12.11,7 13,6.1 13,5 C13,3.9 12.11,3 11,3 C9.89,3 9,3.9 9,5 C9,6.1 9.9,7 11,7 L11,7 Z M5,8.2 C3.33,8.2 0,9.03 0,10.7 L0,12 L10,12 L10,10.7 C10,9.03 6.67,8.2 5,8.2 L5,8.2 Z M11,8.2 C10.75,8.2 10.46,8.22 10.16,8.26 C10.95,8.86 11.5,9.66 11.5,10.7 L11.5,12 L16,12 L16,10.7 C16,9.03 12.67,8.2 11,8.2 L11,8.2 Z"></path>
            </svg>
            <svg *ngIf="element.noticed" [attr.fill]="element.isSelected ? '#1967d2' :'#b2b2b2' " width="16px"
                 height="16px" viewBox="0 0 16 16" focusable="false" fill="">
              <path
                d="M8,11.5133333 L12.12,14 L11.0266667,9.31333333 L14.6666667,6.16 L9.87333333,5.75333333 L8,1.33333333 L6.12666667,5.75333333 L1.33333333,6.16 L4.97333333,9.31333333 L3.88,14 L8,11.5133333 Z"></path>
            </svg>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef> Owner</th>
      <td mat-cell *matCellDef="let element"> {{element?.owner?.firstName}} {{element?.owner?.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastChanged">
      <th mat-header-cell *matHeaderCellDef> Last changed</th>
      <td mat-cell *matCellDef="let element"> {{element?.createAt | date: 'dd-MM-yyyy HH:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.context == 'FOLDER'"> - </span>
        <span>{{element?.size | fileSize}}</span></td>
    </ng-container>

    <tr mat-header-row class="table__header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr (dblclick)="open(row)" (contextmenu)="openContextMenu($event, row)" (click)="selectElement(row, $event)"
        [class.active]="row.isSelected" class="row__table" mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index">
    </tr>
  </table>
</ng-container>


<div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
     [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu" class="context__menu">
  <ng-template matMenuContent let-element="element">
    <app-context-menu [selectedElements]="selectedElements" (changeColor)="changeColor($event)" [element]="element"
                      [driveName]="driveName" [source]="source">
    </app-context-menu>
  </ng-template>
</mat-menu>
