<div class="uploader__header">
    <div>
      <span>Dowloading {{9}} elements</span>
    </div>
    <div class="header__icons">
      <div class="icon">
        <svg class="a-s-fa-Ha-pa" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 24 24" focusable="false">
          <path d="M21.17,5.17L12,14.34l-9.17-9.17L0,8l12,12,12-12z"></path>
        </svg>
      </div>
      <div class="icon" mat-dialog-close>
        <svg class="a-qd-va undefined" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 10 10" focusable="false">
          <polygon class="a-s-fa-Ha-pa"
            points="10,1.01 8.99,0 5,3.99 1.01,0 0,1.01 3.99,5 0,8.99 1.01,10 5,6.01 8.99,10 10,8.99 6.01,5 "></polygon>
        </svg>
      </div>
    </div>
  </div>