<img *ngIf="fileType.RAR.includes(extension)" src="../../assets/images/zip.png" alt="rar">
<img *ngIf="fileType.PDF.includes(extension)" src="../../assets/images/7z.png" alt="pdf">
<img *ngIf="fileType.WORD.includes(extension)" src="../../assets/images/word.png" alt="word">
<img *ngIf="fileType.IMG.includes(extension)" src="../../assets/images/img.png" alt="img">
<img *ngIf="fileType.TXT.includes(extension)" src="../../assets/images/txt.png" alt="txt">
<img *ngIf="fileType.JAR.includes(extension)" src="../../assets/images/jar.png" alt="jar">
<img *ngIf="fileType.TGA.includes(extension)" src="../../assets/images/tga.png" alt="tga">
<img *ngIf="fileType.SVG.includes(extension)" src="../../assets/images/svg.png" alt="svg">
<img *ngIf="fileType.EXE.includes(extension)" src="../../assets/images/exe.png" alt="exe">
<img *ngIf="fileType.TORRENT.includes(extension)" src="../../assets/images/exe.png" alt="torrent">
<img *ngIf="fileType.CODE.includes(extension)" src="../../assets/images/code.png" alt="code">
<img *ngIf="fileType.MP4.includes(extension)" src="../../assets/images/video.png" alt="code">