<ng-container *ngIf="isFileImageExists()">
  <img *ngIf="fileType.RAR.includes(extension)" src="../../assets/images/zip.png" alt="rar">
  <img *ngIf="fileType.PDF.includes(extension)" src="../../assets/images/7z.png" alt="pdf">
  <img *ngIf="fileType.WORD.includes(extension)" src="../../assets/images/word.png" alt="word">
  <div *ngIf="fileType.IMG.includes(extension) && path !== undefined" class="file__icon">
    <img [src]="path" alt="img">
  </div>
  <img *ngIf="fileType.IMG.includes(extension) && path === undefined" src="../../assets/images/img.png" alt="img">
  <img *ngIf="fileType.TXT.includes(extension)" src="../../assets/images/txt.png" alt="txt">
  <img *ngIf="fileType.JAR.includes(extension)" src="../../assets/images/jar.png" alt="jar">
  <img *ngIf="fileType.TGA.includes(extension)" src="../../assets/images/tga.png" alt="tga">
  <img *ngIf="fileType.SVG.includes(extension)" src="../../assets/images/svg.png" alt="svg">
  <img *ngIf="fileType.EXE.includes(extension)" src="../../assets/images/exe.png" alt="exe">
  <img *ngIf="fileType.TORRENT.includes(extension)" src="../../assets/images/exe.png" alt="torrent">
  <img *ngIf="fileType.EXCEL.includes(extension)" src="../../assets/images/excel.png" alt="excel">
  <img *ngIf="fileType.CODE.includes(extension)" src="../../assets/images/code.png" alt="code">
  <img *ngIf="fileType.MP4.includes(extension)" src="../../assets/images/video.png" alt="video">
  <img *ngIf="fileType.JSON.includes(extension)" src="../../assets/images/json.png" alt="json">
  <img *ngIf="fileType.PPT.includes(extension)" src="../../assets/images/ppt.png" alt="json">

</ng-container>

<ng-container *ngIf="!isFileImageExists()">
  <img src="../../assets/images/undefined.png" alt="json">
</ng-container>