<ng-container [ngSwitch]="element?.context">
    <ng-container *ngSwitchCase="contextType.FILE">
      <ng-container *ngIf="isFileImageExists();else undefinedImage">
        <img *ngIf="fileType.RAR.includes(extension)" src="../../assets/images/zip.png" alt="rar">
        <img *ngIf="fileType.PDF.includes(extension)" src="../../assets/images/7z.png" alt="pdf">
        <img *ngIf="fileType.WORD.includes(extension)" src="../../assets/images/word.png" alt="word">
        <div *ngIf="fileType.IMG.includes(extension) && element?.path !== undefined" class="file__icon">
          <img [src]="element.path.fullPath" alt="img">
        </div>
        <img *ngIf="fileType.IMG.includes(extension) && element?.path === undefined" src="../../assets/images/img.png" alt="img">
        <img *ngIf="fileType.TXT.includes(extension)" src="../../assets/images/txt.png" alt="txt">
        <img *ngIf="fileType.JAR.includes(extension)" src="../../assets/images/jar.png" alt="jar">
        <img *ngIf="fileType.TGA.includes(extension)" src="../../assets/images/tga.png" alt="tga">
        <img *ngIf="fileType.SVG.includes(extension)" src="../../assets/images/svg.png" alt="svg">
        <img *ngIf="fileType.EXE.includes(extension)" src="../../assets/images/exe.png" alt="exe">
        <img *ngIf="fileType.TORRENT.includes(extension)" src="../../assets/images/exe.png" alt="torrent">
        <img *ngIf="fileType.EXCEL.includes(extension)" src="../../assets/images/excel.png" alt="excel">
        <img *ngIf="fileType.CODE.includes(extension)" src="../../assets/images/code.png" alt="code">
        <img *ngIf="fileType.MP4.includes(extension)" src="../../assets/images/video.png" alt="video">
        <img *ngIf="fileType.JSON.includes(extension)" src="../../assets/images/json.png" alt="json">
        <img *ngIf="fileType.PPT.includes(extension)" src="../../assets/images/ppt.png" alt="json">
      </ng-container>
      <ng-template #undefinedImage>
        <img src="../../assets/images/undefined.png" alt="json">
      </ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="contextType.FOLDER">
      <svg [attr.fill]="getColor() | svgStyle"
      *ngIf="element.context === contextType.FOLDER && !element.hasLinkAccess " fill="element.color" x="0px"
      y="0px" focusable="false"
      viewBox="0 0 24 24" [attr.height]="iconSize" [attr.width]="iconSize" fill="#5f6368">
    <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
    <svg [attr.fill]="getColor() | svgStyle"
          *ngIf="element.hasLinkAccess" x="0px" y="0px"
          focusable="false" viewBox="0 0 24 24" [attr.height]="iconSize" [attr.width]="iconSize" fill="#5f6368">
      <g>
        <path
          d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-5 3c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm4 8h-8v-1c0-1.33 2.67-2 4-2s4 .67 4 2v1z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </g>
    </svg>
    </ng-container>
</ng-container>
