<div class="form-wrapper">
  <form class="signup-form form" [formGroup]="signupForm">
    <div class="form-heading">
      <h3>Welcome to the CloudDisk</h3>
      <p>Already have an account? <a [routerLink]="['/auth', 'login']">Login</a></p>
    </div>
    <mat-form-field class="form-field" floatLabel="never">
      <img class="field-icon" src="./assets/images/user.svg" alt="username">
      <mat-label>Username</mat-label>
      <input
        autocomplete="off"
        matInput type="text"
        formControlName="username"
      >
      <mat-error *ngIf="username.errors?.['required']">
        Required
      </mat-error>
      <mat-error *ngIf="username.errors?.['maxlength']">
        Can contain max 150 symbols
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" floatLabel="never">
      <img class="field-icon" src="./assets/images/user.svg" alt="Username">
      <mat-label>First name</mat-label>
      <input
        autocomplete="off"
        matInput type="text"
        formControlName="firstName"
      >
      <mat-error *ngIf="firstName.errors?.['required']">
        Required
      </mat-error>
      <mat-error *ngIf="firstName.errors?.['maxlength']">
        Can contain max 150 symbols
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" floatLabel="never">
      <img class="field-icon" src="./assets/images/user.svg" alt="Last name">
      <mat-label>Last name</mat-label>
      <input
        autocomplete="off"
        matInput type="text"
        formControlName="lastName"
      >
      <mat-error *ngIf="lastName.errors?.['required']">
        Required
      </mat-error>
      <mat-error *ngIf="lastName.errors?.['maxlength']">
        Can contain max 150 symbols
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" floatLabel="never">
      <img class="field-icon" src="./assets/images/mail.svg" alt="Email">
      <mat-label>Email</mat-label>
      <input
        autocomplete="off"
        matInput type="text"
        formControlName="email"
      >
      <mat-error *ngIf="email.errors?.['required']">
        Required
      </mat-error>
      <mat-error *ngIf="email.errors?.['email']">
        Invalid email format
      </mat-error>
      <mat-error *ngIf="email.errors?.['maxlength']">
        Can contain max 150 symbols
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" floatLabel="never">
      <img class="field-icon" src="./assets/images/lock.svg" alt="Password">
      <mat-label>Password</mat-label>
      <input
        autocomplete="off"
        matInput type="password"
        formControlName="password"
      >
      <mat-error *ngIf="password.errors?.['required']">
        Required
      </mat-error>
    </mat-form-field>
    <button type="submit" class="submit-btn" (click)="registration()">Sign up</button>
  </form>
</div>
