<section class="history__section" *ngIf="histories.length > 0"
    infinite-scroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="0"
    [scrollWindow]="false"
    (scrolled)="scrollDown()">
  <div class="history__card" *ngFor="let history of histories">
    <span class="date">{{history.date | date: 'MMM d, y h:mm'}}</span>
    <div class="avatar__title">
        <div class="avatar__medium">
            <img src="../../../assets/images/avatar.jfif" [alt]="history.user.firstName + ' ' + history.user.lastName">
        </div>
        <ng-container [ngSwitch]="history.type">
            <ng-container *ngSwitchCase="historyType.PRE_REMOVE">
                <div class="message">
                    <b>{{history.element.isOwner ? 'You ' : history.user.firstName + ' ' + history.user.lastName}}</b> <span> moved the element to the trash </span>
                    <div class="element">
                        <app-file-icon [element]="history.element"></app-file-icon>
                        <div class="action">
                            <span class="element__name">{{history.element.name}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="historyType.RESTORE">
                <div class="message">
                    <b>{{history.element.isOwner ? 'You ' : history.user.firstName + ' ' + history.user.lastName}}</b> <span> restore 1 element</span>
                    <div class="element">
                        <app-file-icon [element]="history.element"></app-file-icon>
                        <div class="action">
                            <span class="element__name">{{history.element.name}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="historyType.RENAME">
                <div class="message">
                    <b>{{history.element.isOwner ? 'You ' : history.user.firstName + ' ' + history.user.lastName}}</b> <span> rename element</span>
                    <div class="element">
                        <app-file-icon [element]="history.element"></app-file-icon>
                        <div class="action">
                            <span class="element__name"> {{history.name}}</span>
                            <span class="element__old_name">{{history.oldName}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="historyType.UPLOAD_ELEMENT">
                <div class="message">
                    <b>{{history.element.isOwner ? 'You ' : history.user.firstName + ' ' + history.user.lastName}}</b> <span> upload element</span>
                    <div class="element">
                        <app-file-icon [element]="getUploadedElement(history)"></app-file-icon>
                        <div class="action">
                            <span class="element__name"> {{history.uploadedElementName}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="historyType.CREATE">
                <div class="message">
                    <b>{{history.element.isOwner ? 'You ' : history.user.firstName + ' ' + history.user.lastName}}</b> <span> create element</span>
                    <div class="element">
                        <div class="parrent_child__folder parent">
                            <app-file-icon [element]="getUploadedElement(history)"></app-file-icon>
                            <div class="action" (click)="goToFolder(history.element.link)">
                                <span class="element__name"> {{history.element.name}}</span>
                            </div>
                        </div>
                        <div class="parrent_child__folder child">
                            <app-file-icon [element]="getUploadedElement(history)" [iconSize]="'18px'"></app-file-icon>
                            <div class="action" (click)="goToFolder(history.uploadedElementLink)">
                                <span class="element__name"> {{history.uploadedElementName}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
</section>
